alert('yo yo yo');

setTimeout(function(){
    $('.close-reveal-modal').click()
}, 400);

$(".errors").html("<div data-alert class='alert-box text-center info'>CATSCATSCATS<a href='#' class='close'>x</a></div>");