<div class="row">
	<div class="small-5 small-centered columns">
	<h2>My profile</h2>
	<p>Email: <%= @user.email %><p>
	<p><%= link_to "Edit my Profile", edit_user_registration_path %></p>
	</div>
</div>
