/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 * require jquery.ui.all
 *= require_tree .
 */

.main-section {
	/* currently used to offest the top bar */
	padding: 25px 0 25px 0;
}


/*
 * Facebook button
 */

.center-facebook-button {
 	display: block;
 	margin-left: 0;
 	margin-right: 0;
 	text-align: center;
}

.facebook-login-button {
	text-decoration: none;
  /* text-transform: uppercase; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: url('/images/facebook_login/facebook-icon.png') no-repeat;
  background-size: 30px;
  display: inline-block;
  height: 50px;
  padding: 0 0 0 45px;
  margin: 0;
  background-position: 10px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  background-color: #2a66c0;
  color: #fff;
}

.facebook-login-button:hover {
  opacity: 1;
  background-color: #3172d2;
  color: #fff;
  text-decoration: none;
  transition: all .15s ease;
}

.facebook-login-button span {
  border-left: 1px solid rgba(0,0,0,0.15);
  margin: 0;
  display: block;
  padding: 14px 60px;
  /* height: 22px; */
}

/*
 * OR divider
 */

.or-divider {
    position: relative;
    overflow: hidden;
    display: block;
    text-align: center;
    margin: 16px 0;
}

.or-divider span {
    z-index: 1;
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    /* width: 30px; */
}

.or-divider span:before {
    content: "";
    display: block;
    position: absolute;
    left: -15px;
    top: 50%;
    width: 50%;
    height: 1px;
    background: #DADADA;
}

.or-divider span:after {
    content: "";
    display: block;
    position: absolute;
    right: -15px;
    top: 50%;
    width: 50%;
    height: 1px;
    background: #DADADA;
}

/*
 * Register header
 *
 */

.register-header {
	padding-top: 1.5em;
	padding-bottom: 0.75em;
	text-align: center;
}

.item-select {
  width: 200px;
  margin-right: 10px;

  /* the following select styles are from Foundation */
  -webkit-appearance: none !important;
  background-color: #fafafa;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  border: 1px solid #cccccc;
  padding: 0.5rem;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.75);
  line-height: normal;
  border-radius: 0;
  height: 2.3125rem;
}

#min_price, #max_price {
  width: 100px;
  display: inline-block;
  margin-right: 0.5%;
}

#search-options-container {
  width: 100%;
  position: relative;
}

.search-selection {
  width: 24%;
  display: inline-block;
  margin-right: 0.5%;

  /* the following select styles are from Foundation */
  -webkit-appearance: none !important;
  background-color: #fafafa;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  border: 1px solid #cccccc;
  padding: 0.5rem;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.75);
  line-height: normal;
  border-radius: 0;
  height: 2.3125rem;
}

.search-button {
  border: none;
  padding-left: 1em;
  padding-right: 1em;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #ff555d;
  height: 2.3125rem;;
}

.search-button:hover {
  background-color: #ef5057;
}
