$closet-card-color: white;

.closet-header * {
  display: inline-block;
}

.closet-back {
  float: left;
}

.closet-buttons {
  float: right;
}

.closet-cards {
  float: left;
  :hover {
    cursor: pointer;
    opacity: 0.95;
  }
}
.closet-item-row {
  float: left;
  margin: 10px 0;
}

.closet-item-delete {
  position: absolute;
  right: 0;
  bottom: 0;
}