<% if page == "new" %>
    <ol class="joyride-list" data-joyride data-options="prev_button: false">
      <li data-text="OK">
        <h4>Enter your email</h4>
        <br/>
        <p>A reset email will be sent to the email address linked to your account.</p>
        <p>Please use the link soon, or it will expire</p>
      </li>
    </ol>
<% end %>