<% if page == "index" %>
    <ol class="joyride-list" data-joyride>
      <li data-text="Next">
        <h4>Welcome to Showspace</h4>
        <p>click Next to take a quick tour, or press -></p>
      </li>
      <li data-id="item-0" data-text="Next" data-options="tip_location: right; prev_button: false">
        <p>This is an item. Click to see details, or save to a closet.</p>
      </li>
      <li data-id="add-closet" data-text="Next" data-prev-text="Prev" data-options="tip_location: left">
        <p>Create new closets here. Your account has a default "My Closet" already.</p>
      </li>
      <li data-button="Finish" data-prev-text="Prev">
        <p>Click "About" to re-take this tour any time.</p>
      </li>
    </ol>
<% elsif page == "show" %>
    <ol class="joyride-list" data-joyride>
      <li data-id="buy-button" data-text="Next" data-options="tip_location: right; prev_button: false">
        <p>Click here to visit the seller's store page.</p>
      </li>
      <li data-id="save-button" data-text="Next" data-prev-text="Prev" data-options="tip_location: right">
        <p>Click here to save this item to a closet.</p>
      </li>
    </ol>
<% elsif page == "edit" %>
    <ol class="joyride-list" data-joyride>
      <li data-text="OK" data-options="prev_button: false">
        <h4>Edit your Password</h4>
        <br/>
        <p>Enter your current password to save a new one.</p>
      </li>
    </ol>
<% end %>